.title {
    font-family: cubic11, sans-serif;
    height: 80px;
    width: 100%;
    border-radius: 15px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 35px;
    /*-webkit-text-stroke: 1px #000;*/
    /*color: transparent;*/
    animation: titleAni;
    animation-duration: 1500ms;
}

@keyframes titleAni {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.count {
    font-family: cubic11, sans-serif;
    padding: 15px;
    font-size: 72px;
}

.imageBox > #imga {
    z-index: 2;
    position: absolute;
    -moz-user-select: none;
    pointer-events: none;
    height: 50%;
    width: auto;
    max-width: 100vw;
    object-fit: contain;
}

.imageBox > #imgb {
    z-index: 1;
    position: absolute;
    -moz-user-select: none;
    pointer-events: none;
    height: 50%;
    width: auto;
    max-width: 100vw;
    object-fit: contain;
}

.imageBox {
    display: flex;
    height: 60vh;
    width: 100%;
    margin: 15px;
    justify-content: center;
    justify-items: flex-start;
    align-content: center;
}

html, body {
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
}

.clickBox {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    align-items: center;
    align-content: flex-start;
    text-align: center;
}

